# Python Pandas Exercises
## James Cage, June 17, 2019

Please save a copy of this notebook before entering answers. 

**7-22-19**: Carelessness. Read solution and look for brackets, braces, and parens.

###1. Import the Pandas library. You will also need to use the "is not a number function", so import that library too.

    Double click for solution

<!--
import pandas as pd
import math
-->

###2. Create a dataframe with four rows and three columns, called "df". Be sure the first two columns of two rows are the same.

    Double click for solution

<!--
    df = pd.DataFrame([[1,1,3],[1,1,4],[1,2,3],[2,3,4]],columns=['a','b','c'])
-->

###3. Drop rows where the first two columns are the same in dataframe df. For each set of duplicated rows, keep the oldest row in the set.

    Double click for solution

<!--
    df.drop_duplicates(['a','b'], keep='last',inplace=True)
-->

###4. The default index for df has duplicates and gaps. Re-index. Do not keep the old index as a new column.

    Double click for solution

<!--
    df.reset_index(drop=True,inplace=True)
-->

###5. Add a row to df.

    Double click for solution

<!--
    df.loc[0 if math.isnan(df.index.max()) else df.index.max() + 1] = [4,27,65]
-->

###6. Create a dataframe that consists of columns 'a' and 'b' from df

    Double click for solution

<!--
    df2 = df[['a','b']]
-->

###7. Sum the values in each COLUMN of df.

    Double click for solution

<!--
    df.apply(sum,axis=0) # column sum
    df.apply(sum,axis=1) # row sum
-->

###8. In the 4th row of df, find the value in column 'b'.

    Double click for solution

<!--
    df.at[3,'b']
-->

###9. Select all rows in df where column c is equal to 4

    Double click for solution

<!--
    df[df['c'].isin([4])]
-->

### 10. Find the number of rows & columns in df

    Double click for solution

<!--
    df.shape
-->

###11. Add a column 'Sum' to df that is the sum of all values on the row.

    Double click for solution

<!--
    df['Sum'] = df.apply(sum,axis=1)
-->

###12. Drop the column 'Sum'.

    Double click for solution
    
<!--
    df.drop(['Sum'], axis = 1, inplace=True)
    df
-->

###13. (a) Add 1 to all values in column 'c' of df. (b) Add 1 to all values in the 2nd row. (c) Add 1 to all values in df. (d) Add column 'd' that is the sum of columns 'a' and 'b'.

    Double click for solution

<!--
# a
df['c'] = df['c']+1

# b
df.loc[1] = df.loc[1] + 1

# c
df += 1

# d
try:
    df.drop(['d'], axis=1, inplace=True)
except:
    pass
df['d'] = df['a'] + df['b']
df
-->

###14. Sort df by values in column d, ascending.

    Double click for solution

<!--
df.sort_values(by=['d'],inplace=True)
df
-->

###15. Get some basic information about every column in df.

    Double click for solution

<!--
df.describe(include='all')
-->

###16. How many rows in df have NaN values for column 'b'?

    Double click for solution

<!--
df[df['b'].isnull()].shape[0]
    
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html
-->

###17. Read the CSV from the URL below into a dataframe.

    Double click for solution

<!--

df_georgia = pd.read_csv(url)
df_georgia.shape
    
-->

In [0]:
url = 'https://raw.githubusercontent.com/JamesDCage/Final-Week-0/master/georgia.csv'

###18. Export df to a dictionary. Do not include the index

    Double-click for solution

<!--
a_file = 'a_file.csv'
df.to_csv(a_file, index=False)
# -->

###19. Use the dictionary created in the previous question to create a new dataframe.

    Double click for solution

<!--
df_x = pd.read_csv(a_file)
df_x    
-->

##Past Results
* 06/19/19 - Missed 2, 4, 16

###X. Do This

    Double click for solution

<!--
    
-->

###X. Do This

    Double click for solution

<!--
    
-->

###X. Do This

    Double click for solution

<!--
    
-->